.side-bar{
    height: 100vh;
    width: 20%;
    color: white;
    position: fixed;
}
a{
    color: white;
    text-decoration: none;
}
#headd{
    padding-top: 80px;
}
h1{
    text-align: left; 
    margin-top: -20%; 
    margin-left:-47%;
}
hr{
    width: 150vh;
    margin-left: -45%;
}
.icon{
    padding: 8px 10px;
}
.navbar-toggler-icon {
    background-color: none;
    border-radius: 10%;
}
.outer{
    width: 35%;
    height: 40%;
    top: 25%;
    left: 38%;
    position: absolute;  
}
.btn{  
    width: 100%;
    height: 100%;
    color: white;
}
/* .pagination-header{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
#table-size{
  width: 75px;
  height: 30px;
}
#table-size option{
  text-align: center;
}
.pagination-footer{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.pagination-buttons{
  display: inline-block;
}
.pagination-buttons a{
  color: black;
  border: 1px solid #ddd;
  padding: 0px 4px;
  margin: 0px 4px;
  text-decoration: none;
}
.pagination-buttons a.active{
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  color: #333 !important;
  border: 1px solid #979797;
}
.pagination-buttons a:hover{
  color: white !important;
  background: linear-gradient(to bottom, #000 0%, rgb(87,87,87) 100%);
} */
.btn:hover{
    opacity: 80%;
}
.container{
    position: relative;
}
.box{
  width: 150vh;
  height: 7vh;
  background-color: rgb(255, 255, 228);
  margin-left: -30vh;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: solid rgba(165, 42, 42, 0.492);
  text-transform: uppercase;
  text-align: left;
  padding-top: 1%;
  padding-left: 1%;
}
/* .boxx{
  width: 150vh;
  height: 70vh;
  margin-left: -30vh;
  background-color: rgb(255, 255, 228);

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: solid rgba(165, 42, 42, 0.492);
  border-left: solid rgba(165, 42, 42, 0.492);
  border-right: solid rgba(165, 42, 42, 0.492);
} */
#select{
  width: 10%;
}
.col-sm-2{
  padding-left: 13%;
  padding-top: 1.5%;
}
.col-sm-5{
  width: 65%;
  padding-top: 1%;
  padding-left: 0;
}
.table{
  width: 150vh;
  margin-left: -40%;
  margin-top: 5%;
  border: 2px solid black;
}
.page{
  margin-right: 2%;
}
@media screen and (max-width: 750px){
    .side-bar{
      display: none;
    }
    .outer{
      width: 60%;
      height: 60%;
      top: 15%;
      left: 8%;
      position: absolute;   
    }
    .drop{
      visibility: hidden;
    }
    .container{
      position: relative;
    }
    #headd{
      padding-top: 6px;
    } 
    h1{
        margin-left: -8%;
        margin-top: -5%;
    }
    hr{
        margin-left: -86%;
    }
    .box{
        height: 100%;
        width: 40vh;
        padding: 26px;
        font-size: 24px;
        margin-left: -25vh;
    }
    /* .boxx{
        padding: 2%;
        font-size: 14px;
        width: 40vh;
        margin-left: -25vh;
    } */
}
@media screen and (max-width: 600px){
    .side-bar{
      display: none;
    }
    .drop{
      visibility: hidden;
    }
    .outer{
      width: 80%;
      height: 60%;
      top: 15%;
      left: 8%;
      position: absolute;   
    }
    .container{
      position: relative;
    }
    #headd{
      padding-top: 6px;
    } 
    h1{
        margin-left: -8%;
        margin-top: -5%;
    }
    .box{
        height: 65%;
        width: 30vh;
        padding: 26px;
        font-size: 18px;
        margin-left: -8%;
    }
    /* .boxx{
        font-size: 11px;
        width: 30vh;
        height: 20%;
        margin-left: -70%;
    } */
}
@media screen and (min-width: 750px) {
    .navbar-toggler-icon {
        column-gap: 0%;
      }
    .navbar-toggler {
      display: none;
      margin-left: 20%;
    }
}
@media screen and (max-width: 1140px) {
    .side-bar {
      margin-top: 4.9%;
      width: 23%;
    }
    .outer{
      width: 40%;
      height: 50%;
      top: 25%;
      left: 40%;
      position: absolute;   
    }
    .container{
      position: relative;
    }
    #headd {
      padding-top: 6px;
    } 
    hr{
        width: 100vh;
    }
    .box{
      height: 6vh;
      width: 100vh;
      padding: 26px;
      font-size: 18px;
      margin-left: -22vh;
  }
  /* .boxx{
      font-size: 11px;
      width: 80vh;
      height: 35vh;
      margin-left: -22vh;
  } */
  h1{
    margin-left: 2px;
  }
  .table{
    width: 100vh;
    margin-left: -22vh;
  }
}  